*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
}
:root{
    --color-title:red;
    --color-names:white;
    --box-size:calc(100% / 3);
    --color-section:black;
    --debug:none;
    --color-mail:rgb(0, 140, 222);
}
.debug{
    border: 1px solid var(--debug);
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    height: 80%;
    width: 80%;
    min-height: 1080px;
    min-width: 1200px;
    margin: 5% auto;
    margin-top: 10px;
    text-align: center;
}
#title{
    color: var(--color-title);
    font-size: 3em;
    margin: 20px auto;
}
p{
    margin: 20px auto;
}
.float-left{
    float: left;
}
#main-box{
    height: 1080px;
    width: 1200px;
    margin: auto;
}
.box-sizing{
    width: var(--box-size);
    height: 110px;
    padding: 10px;
    margin: 5px auto;
}
.img-sizing{
    width: calc(100% / 4);
    height: 100%;
}
.text-setting{
    width: calc(100% - (100% / 4));
    background-color: black;
    color: var(--color-names);
    text-align: left;
    height: 100%;
    padding: 5px;
}
.description{
    margin: 2% auto;
}
.mail{
    color: var(--color-mail);
}
.mail:hover{
    text-decoration: underline;
}
#marco{
    background-image: url(../Images/male1.png);
    background-size: cover;
}
#laura{
    background-image: url(../Images/female1.png);
    background-size: cover;
}
#giorgio{
    background-image: url(../Images/male2.png);
    background-size: cover;
}
#marta{
    background-image: url(../Images/female2.png);
    background-size: cover;
}
#roberto{
    background-image: url(../Images/male3.png);
    background-size: cover;
}
#daniela{
    background-image: url(../Images/female3.png);
    background-size: cover;
}