*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
}
:root{
    --color-title:red;
    --color-names:white;
    --section-size:calc(100% / 3);
    --color-section:black;
}
.debug{
    border: 1px solid black;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 1080px;
    width: 1200px;
    margin: 5% auto;
    margin-top: 10px;
    text-align: center;
}
#title{
    color: var(--color-title);
    font-size: 3em;
    margin: 20px auto;
}
p{
    margin: 20px auto;
}
.float-left{
    float: left;
    width: var(--section-size);
}

.section-setings{
    height: 120px;
    padding: 10px;
    margin:5px auto;
}
.img-size{
    height: 100%;
    width: auto;
}

img{
    width: auto;
    height: 100%;
}
.text-box-settings{
    color: var(--color-names);
    background-color: var(--color-section);
    height: 100%;
}