*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inter', sans-serif;
}
:root{
    --color-title:red;
    --color-names:white;
    --section-size:calc(100% / 3);
    --color-section:black;
    --debug:transparent;
    --color-mail:rgb(0, 140, 222);
}
.debug{
    border: 1px solid var(--debug);
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 1080px;
    width: 1200px;
    margin: 5% auto;
    margin-top: 10px;
    text-align: center;
}
#title{
    color: var(--color-title);
    font-size: 3em;
    margin: 20px auto;
}
p{
    margin: 20px auto;
}
.float-left{
    float: left;
    width: var(--section-size);
}
.box-size{
    height: 120px;
    padding: 10px;
    margin:5px auto;
}

.img-size{
    height: 100%;
    width: auto;
}

img{
    width: auto;
    height: 100%;
}
.box-settings{
    color: var(--color-names);
    background-color: var(--color-section);
    height: 100%;
    text-align: left;
}
.article-settings{
    vertical-align: middle;
    float: left;
    padding: 2% 5%;
}
.description{
    margin: 2% auto;
}
.mail{
    color: var(--color-mail);
}
.mail:hover{
    text-decoration: underline;
}